
*.json
!*Template*.json
!WebGL/package.json
!WebGL/fonts/helvetiker_regular.typeface.json
!WebGL/public/fonts/helvetiker_regular.typeface.json
*.csv

#ide
.DS_Store
TD_GeomInput_Rushton_Turbine.xcodeproj/project.xcworkspace/xcuserdata/
TD_GeomInput_Rushton_Turbine.xcodeproj/xcshareddata/



#googletest
googletest-*


#cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

#libs
*.a

#exe
a.out
td_rushton_test
